/* OverviewPage.razor.css */

#header1 {
    text-align: center;
}

.top-menu {
    margin-bottom: 30px;
}

.table-parent {
    font-size: 12px;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 10px;
}

@keyframes blink-red {
    0% {
        background-color: red;
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: red;
    }
}

.blink-red {
    animation: blink-red 1s infinite;
}

.station-cell {
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dddddd;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    cursor: pointer; /* Pointer cursor on hover */
    
    transition-duration: 0.4s; /* Smooth transition */
    border: solid black 1px; 
}

.station-city {
    text-align: center;
    font-size: 50%;
}

.station-cell:hover {
    background-color: #0056b3; /* Darker background on hover */
}

.actions-cell {
    text-align: left;
    vertical-align: middle;
    width: 35px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 5px;
}

    .icon-button img {
        width: 20px;
        height: 20px;
    }

.clearall-button {
    float: right;
}

.taf-new-report {
    background-color: red;
    border-top: 1px solid black;
    border-bottom: 1px solid #dddddd;
    color: white;
}

.metar-new-report {
    background-color: red;
    border-bottom: 1px solid black;
    color: white;
}

.metar-old-report {
    border-bottom: 1px solid black;
}

.taf-old-report {
    border-top: 1px solid black;
    border-bottom: 1px solid #dddddd;
}

.reports-time-cell {
    width: 125px;
    border-right: 1px solid #dddddd;
}

.report-type-cell {
    width: 75px;
    border-right: 1px solid #dddddd;
}
